 .content {
    padding-bottom: 3rem;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.formSearch{
    padding-top: 2rem;
    padding-bottom: 3rem;
}
/*
input button{
    display: block;
}

.weather{
    display: flex;
    justify-content: space-evenly;
} */

.search{
    text-align: center;
}